defaultEntryPoints = ["http", "https"]
insecureSkipVerify = true
logLevel = "INFO"

[entryPoints]
[entryPoints.http]
address = ":80"
[entryPoints.http.redirect]
entryPoint = "https"
[entryPoints.https]
address = ":443"
[entryPoints.https.tls]
[[entryPoints.https.tls.certificates]]
certFile = "/etc/traefik/traefik.crt"
keyFile = "/etc/traefik/traefik.key"

[entryPoints.https.auth.forward]
    address = "http://localhost:4181"
    authResponseHeaders = ["X-Forwarded-User"]

[web]
    address = ":8080"

[consulCatalog]
    frontEndRule = "Host:{{.ServiceName}}.lab.bltavares.com"
    endpoint = "127.0.0.1:8500"

[file]

[frontends.radarr]
backend = "radarr"
[frontends.radarr.routes.route0]
rule = "Host:radarr.lab.bltavares.com"
[backends.radarr.servers.server0]
url = "http://${radarr}:7878"

[frontends.sonarr]
backend = "sonarr"
[frontends.sonarr.routes.route0]
rule = "Host:sonarr.lab.bltavares.com"
[backends.sonarr.servers.server0]
url = "http://${sonarr}:8989"

[frontends.transmission]
backend = "transmission"
[frontends.transmission.routes.route0]
rule = "Host:transmission.lab.bltavares.com"
[backends.transmission.servers.server0]
url = "http://${transmission}:9091"

[frontends.proxmox]
backend = "proxmox"
[frontends.proxmox.routes.route0]
rule = "Host:proxmox.lab.bltavares.com"
[backends.proxmox.servers.server0]
url = "https://192.168.15.3:8006"
[backends.proxmox.servers.server1]
url = "https://192.168.15.4:8006"

[frontends.omv]
backend = "omv"
[frontends.omv.routes.route0]
rule = "Host:omv.lab.bltavares.com"
[backends.omv.servers.server0]
url = "https://omv.zerotier.bltavares.com:443"

[frontends.archivebox]
backend = "archivebox"
[frontends.archivebox.routes.route0]
rule = "Host:archivebox.lab.bltavares.com"
[backends.archivebox.servers.server0]
url = "http://omv.zerotier.bltavares.com:8000"