[Unit]
Description=GoDNS Service for Ipv6
After=network.target

[Service]
ExecStart=/usr/local/bin/godns -c=/etc/godns6.json
Restart=always
KillMode=process
RestartSec=2s

[Install]
WantedBy=multi-user.target